body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 95%; /* Ancho máximo ajustado para dispositivos móviles */
    margin: 20px auto; /* Margen para centrar el contenedor */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Habilitar desplazamiento horizontal si es necesario */
}

@media (min-width: 768px) {
    .container {
        width: 80%; /* Ancho máximo para pantallas más grandes */
    }
}

h1 {
    color: #2d572c;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #2d572c;
    color: white;
    cursor: pointer;
    width: 200px; /* Ancho fijo para todos los botones */
}

button:hover {
    background-color: #1e3b1d;
}
